*{
	margin:0;
	padding:0;
}
body{
	width: 100%;
	height: 100vh;
	background-color: white;
}

.hi{
        color: white;
}

/* p {
	color: black;
	text-align: center;
} */

/*button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  border-radius: 4px;
  border: 2px solid #555555; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button {
	transition-duration: 0.4s;
  }
  
button:hover {
	cursor: pointer;
	background-color: #4CAF50;  Green 
	color: white;
 } */

 button {
	background-color: #4CAF50; 
	color: white;
	padding: 3px 3px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  button {
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
  }
  
  button:hover {
	background-color: #4CAF50;
	color: white;
  }

  p {
	font-family: Arial, Helvetica, sans-serif;font-size:16px;font-style:normal;
  }
 
  /* body {background-color: #2c2f33;} */