*{
	margin:0;
	padding:0;
}
body{
	width: 100%;
	height: 100vh;
	background-color: #2c2f33;
}

.hi{
        width: 100px;
	height: 100px;
	position: relative;
	animation-name: hi;
	animation-duration: 4s;
	
@keyframes hi{
  0% {left:0px; top:0px;)
  100% {left:100px; top:0px;)
}

